// Body
$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: 'Inria Sans',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$in: 'Inria Sans',
sans-serif;
// 300 400
$sa: 'Sarpanch',
sans-serif;
// 400 900
// Colors
$primary: pink;