@import './buttons.scss';
.App {
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 3s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.cat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
    margin: 20px;
    border: 3px dotted transparent;
    h2 {
        letter-spacing: 5px;
        font-size: 20px;
        text-transform: uppercase;
    }
}

.dog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
    margin: 20px;
    border: 3px dashed transparent;
    border-radius: 20px;
    h3 {
        letter-spacing: 5px;
        font-size: 20px;
        text-transform: uppercase;
    }
}

.bin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-wrap: wrap;
    .sq {
        width: 100px;
        height: 100px;
        margin: 5px;
        border: 1px dashed gray;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-family: monospace;
        &.blue {
            background-color: skyblue;
            border-color: skyblue;
        }
    }
}

.kv {
    width: 250px;
    height: 100px;
    background-color: crimson;
    transition: all 0.5s;
    margin: 100px;
}

ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    li {
        width: 200px;
        margin: 10px;
        padding: 5px;
        border: 1px solid white;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    h2 {
        height: 50px;
        overflow: hidden;
        font-size: 20px;
        line-height: 1.2;
    }
}